
<div *ngIf="zonaCarga">
    <h2><span jhiTranslate="prueba1App.zonaCarga.detail.title">Zona Carga</span> {{zonaCarga.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="prueba1App.zonaCarga.zona">Zona</span></dt>
        <dd>
            <span>{{zonaCarga.zona}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'zona-carga-my-suffix/'+ zonaCarga.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
